<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Document</title>
  </head>
  <body>
    <h1>Links</h1>
    <ul>
      <li>
        <h2>Ship</h2>
        <ul>
          <li><a href="/ships_manager_app/add_ship">Add</a></li>
          <li><a href="/ships_manager_app/ship_list">List</a></li>
        </ul>
      </li>
      <li>
        <h2>Booking</h2>
        <ul>
          <li><a href="">Add</a></li>
          <li><a href="">List</a></li>
        </ul>
      </li>
      <li>
        <h2>Account</h2>
        <ul>
          <li><a href="">Add</a></li>
          <li><a href="">List</a></li>
        </ul>
      </li>
    </ul>
  </body>
</html>
